# dependencies
node_modules/

# production
build/
dist/
.next/
out/
posthog-integration-nextjs-app-router/

# environment variables
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE
.vscode/
.env.local
